<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ibeacon_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9988A281DD0AE4A0028108E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9988A3C1DD0AE4B0028108E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9988A471DD0AE4B0028108E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
